/* General Styles */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.everything {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #ffffff;
    font-family: "epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1b1b1b;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    color: black;
    display: flex;
    border-bottom: 1.5px solid #1b1b1b;
}

.top-bar .section {
    color: #1b1b1b;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.top-bar .left-section {
    justify-content: flex-start;
    padding-left: 50px;
    text-align: left;
}

.top-bar .right-section {
    justify-content: flex-end;
    padding-right: 50px;
    text-align: right;
}

/* Bottom Bar */
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #f1f1f1;
    color: white;
    display: flex;
    border-top: 1.5px solid #1b1b1b;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section, .right-section {
    background-color: #f1f1f1;
    color:#1b1b1b;
}

.left-section {
    justify-content: flex-start;
    padding-left: 50px;
    text-align: left;
    font-size: 16px;
}

.right-section {
    justify-content: flex-end;
    padding-right: 50px;
    text-align: right;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    opacity: 0; /* Start as invisible */
    transition: opacity 0.3s ease; /* Fade transition */
    visibility: hidden; /* Start hidden */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    min-width: 15vw;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1.5px solid #1b1b1b;
    border-left: 1.5px solid #1b1b1b;
    border-right: 1.5px solid #1b1b1b;
}

.dropdown-content a {
    color: #1b1b1b;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom:1.5px solid #cccccc;
}

.dropdown-content a:hover {
    background-color: #1b1b1b;
    color:#f1f1f1;
}

button {
    background-color:none;
}

.dropdown button {
    background-color: #f1f1f1;
    color: #1b1b1b;
    padding: 8px;
    font-size: 16px;
    border: 1.5px solid #1b1b1b;
    cursor: pointer;
    border-radius: 5px;
    width: 15vw;
    font-family: "epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dropdown button:hover {
    background-color:#1b1b1b;
    color:#f1f1f1;
}

.dropdown button:focus {
    outline: none;
}

.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make visible */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Ensure the body takes full height */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.intro {
    background-color:#ffffff;
    padding: 20px;
    border-radius: 8px;
    border:2px solid #1b1b1b;    
    padding-bottom:20px;
    box-shadow: 5px 5px 0px #1b1b1b;
    font-size:13px;
    color: #1b1b1b;
    margin:0;
}

.intro-wrap {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;    
    width:100vw;
}

.intro {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: Add shadow for better visibility */
    background-color: #fff; /* Optional: Set background color */
    border-radius: 8px; /* Optional: Add rounded corners */
}


.location {
    position:absolute;
    top:13vh;
    right:4vw;
    width:45vw;
    height:7vh;
    background-color:#ffffff;
    display: flex;
    cursor:move;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    border:2px solid #1b1b1b;    
    padding-bottom:20px;
    box-shadow: 5px 5px 0px #1b1b1b;
    font-size:20px;
    color: #1b1b1b;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.intro p {
    margin: 0 0 10px 0;
}

.intro a {
    font-size: 15px; 
    color: #1b1b1b; 
    text-decoration: none;
    border-bottom: 1px solid #1b1b1b;
    border:1.5px solid #f1f1f1;
}

.intro a:hover {
    color: #1b1b1b; 
    border-color: #1b1b1b; 
    background-color:#f1f1f1;
}


h1 {
    font-size:20px;
    text-align:center;
}

h2 {
    font-family: "epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16px;
    text-align:center;
    width:17vw;
    padding:7px;
}


.links a {
    padding:8px;
    border-radius:5px;
}

.links a:hover {
    background-color:#1b1b1b;
    color:#f1f1f1;
}

.dropdown-content a:hovers {
    background-color:#1b1b1b;
    color:#f1f1f1;
}

.links {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center links horizontally within the container */
}

.links a {
    margin: 10px 0;
    border: 1.5px solid #1b1b1b;
    border-radius: 5px;
    background-color: #ffffff;
    color: #1b1b1b;
    width:15vw;
    text-align: center; /* Center text within each link */
}

.intro {
    cursor: move; /* Change cursor to indicate draggable */
    animation: fadeIn 1s ease-in-out;
    -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  /* Define the fade-in keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.top-bar, .bottom-bar {
    z-index:1;
}

.overview {
    position: absolute;
    bottom: 22vh; 
    right: 22vw; 
    width: 15vw;
    height: auto;
    background-color:#ffffff;
    color:#1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 20px;
    border-radius: 8px;
    border: 1.5px solid #1b1b1b;
    box-shadow: 5px 5px 0px #1b1b1b;
    font-size: 15px;
    animation: fadeIn 2s ease-in-out; 
    cursor: move;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  aspect-ratio: 1 / 1;
}


/* Styling for .overview content */
.overview h1, .overview p, .overview a {
    margin: 0;
}


.intro, .overview {
    position: absolute;
    /* Other styles */
}

@-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

.top-bar .left-section button {
    background-color:transparent;
    font-family: "epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
    border:none;
    font-size:16px;
}

.top-bar button {
    color:#1b1b1b;
}

.top-bar .left-section button:hover {
    text-decoration: underline;
    cursor:pointer;
}

.overview p {
    padding-bottom:6px;
    padding-top:6px;
    font-size:13px;
}

.overview h1 {
    font-size:16px;
}

.rearrange {
    position:absolute;
    bottom:13vh;
    right:3vw;
    font-size:25px;
}

.flier {
	pointer-events: none;
}

.flier img {
    width:110px;
}

.flier > * {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: -999999;
}


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

  

.top-bar button img {
    width:20px;
}

/* Tooltip Container */
.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Tooltip Button */
.tooltip-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    font-family: "epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Tooltip Text */
.tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 80px;
    background-color: #ffffff;
    color: #1b1b1b;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    z-index: 1;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    white-space: nowrap;
    border: 1.5px solid #1b1b1b;
    font-size: 13px;
}

/* Show Tooltip Text on Hover */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Close Button */
.close-btn {
    background: transparent;
    border: none;
    color: #1b1b1b;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.new-box {
    top: 20vh; /* Adjust as needed */
    left: 2vw; /* Position from the left edge of the viewport */
    width: 15vw;
    height: auto;
}

.music {
    position: absolute;
    bottom: 18vh; /* Adjust as needed */
    left: 4vw; /* Position from the left edge of the viewport */
    width: 20vw;
    height: 7vh;
    background-color: #ffffff;
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    border: 1.5px solid #1b1b1b;
    box-shadow: 5px 5px 0px #1b1b1b;
    font-size: 15px;
    transition: opacity 0.3s ease; /* Smooth hide/show transition */
    overflow: hidden; /* Ensure no overflow affects size */
    cursor:move;
    -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.music marquee {
    width:16vw;
}

.flower {
    position: absolute;
    top: 27vh;
    left: 13vw;
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    background-color: #ffffff;
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    border: 1.5px solid #1b1b1b;
    box-shadow: 5px 5px 0px #1b1b1b;
    cursor: move; /* Indicates draggable */
    box-sizing: border-box;
    -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/* Resizable handle */
.resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #1b1b1b;
    cursor: nwse-resize; /* Cursor for resizing */
}


.flower .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration:bold;
    background: none;
    border: none;
    color: #1b1b1b;
    cursor: pointer;
}

.close-btn:hover {
    color: rgb(216, 93, 128); /* Color on hover for visibility */
}

/* Keyframes for spinning */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Apply spinning animation to the image */
.flower img {
    animation: spin 20s linear infinite; /* Adjust the duration as needed */
    display: block; /* Ensure the image is displayed as a block element */
    margin: auto; /* Center the image if necessary */
}

/* Common styles for both .flower and .image2 */
.image2 {
    position: absolute;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    cursor: move;
    width:200px;
    height:auto;
}

/* Image styling */
.image2-img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Make sure the close button does not overlap the image */
.image2 {
    position: relative;
}

/* Resizable handle if needed */
.resize-handle {
    width: 15px;
    height: 15px;
    background: #000;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: se-resize;
}

.flower img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.resizer {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #000;
    cursor: se-resize;
    right: 0;
    bottom: 0;
}

.flower img {
    pointer-events: none;
}

@-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

body {
    cursor: url('cursor.png'), auto;
}

body {
    cursor: url('cursor.png'), auto;
}

@-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .statement {
    position: absolute;
    bottom:50vh; 
    right: 8vw; 
    width: 15vw;
    height: 25vh;
    background-color:#ffffff;
    color:#1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding-top: 15px;
    padding-left:20px;
    padding-right:20px;
    margin:0;
    border-radius: 8px;
    border: 1.5px solid #1b1b1b;
    box-shadow: 5px 5px 0px #1b1b1b;
    font-size: 15px;
    animation: fadeIn 2s ease-in-out; 
    cursor: move;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    aspect-ratio: 1 / 1;
  }

  .stars {
    position: absolute;
    bottom: 20vh;
    left: 30vw;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    background-color: #ffffff;
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    border: 1.5px solid #1b1b1b;
    box-shadow: 5px 5px 0px #1b1b1b;
    cursor: move; /* Indicates draggable */
    box-sizing: border-box;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.stars img {
    width: 100%;
    height: auto;
    pointer-events: none; /* Prevent dragging */
    animation: rotateCounterclockwise 20s linear infinite;
}


.resizer {
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

@keyframes rotateCounterclockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg); /* Negative value for counterclockwise rotation */
    }
}


#playlist li:hover {
    background-color: #efefef; /* Highlight on hover */
}

.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}

.controls {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.controls button {
    margin: 5px 5px; /* Space between buttons */
}

#playlist {
    list-style: none;
    padding: 0;
    margin:0;
    width: 100%;
}

#playlist li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1.5px solid #1b1b1b;
    text-align: center;
    font-size:13px;
}

#playlist li:hover {
    background-color: #efefef; /* Highlight on hover */
}

.controls button {
    font-size: 24px; /* Adjust the size as needed */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.controls button:hover {
    background-color: #efefef; /* Highlight on hover */
}

.name {
    font-size:50px;
    position:absolute;
    z-index:9999;
    left:4vw;
    top:15vh;
}

.switch1 {
    font-size:20px;
    position:absolute;
    z-index:9999;
    left:15vw;
    top:21.5vh;
}

.switch1 {
    font-size: 20px; /* Adjust as needed */
    text-align: center;
    width: 200px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

.switch1 .text1, .switch1 .text2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Adjust the transition duration if needed */
}

.switch1 .text1 {
    opacity: 1;
}

.switch2 {
    display: inline-block;
    position: relative;
    cursor:help;
}

.switch2::before {
    content: "fun fact!";
    display: block;
}

.switch2:hover::before {
    content: "this website was handmade!";
}

.back-button-container {
    top: 20px; /* Adjust position as needed */
    left: 20px; /* Adjust position as needed */
    display:flex;
    flex-direction: row; 
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 40px;
}

.back-button img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}

.back-button:hover img {
    opacity: 0.8; /* Optional: Add hover effect */
}

.tooltip-container {
    display: flex;
    align-items: center;
}

/* Ensure tooltips are hidden by default */
.tooltip-text,
.tooltip-text-back {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #ffffff;
    color: #1b1b1b;
    border: 1.5px solid #1b1b1b;
    border-radius: 5px;
    font-size: 13px;
    transition: opacity 0.3s ease;
}

/* Tooltip for refresh button */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.back-button-container .tooltip-text-back {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -20.5px; /* Adjust to move the text below the button */
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #1b1b1b;
    padding:5px;
    width:65px;
    border: 1.5px solid #1b1b1b;
    border-radius: 5px;
    font-size: 13px;
    transition: opacity 0.3s ease;
    font-family: "epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.back-button-container:hover .tooltip-text-back {
    visibility: visible;
    opacity: 1;
}

#hover-text {
    position: fixed;
    right: 9vw;
    top: 50%;
    transform: translateY(-50%);
    color: #1b1b1b;
    padding: 13px;
    padding-bottom:20px;
    border-radius: 5px;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it's on top of other content */
    box-sizing: border-box; /* Include padding in width calculation */
    word-wrap: break-word; 
    width:350px;
    height:auto;
    font-size:13px;
    border:1.5px solid #1b1b1b;
    box-shadow: 5px 5px 0px #1b1b1b;
  }

.button-item data-text {
    width:100px;
}